{% extends "base.html" %}

{% block head_title  %}
{{ title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6 well">

          <h2>Current</h2>
          <p><code>current</code> container in <code>test</code>
            account.</p>

	  {% if current_image %}
	  <img src={{ current_image }}
               alt="Cat" class="img-thumbnail
				img-responsive">
	  {% else %}
	  <p>No object in container.</p>
	  {% endif %}
        </div>

        <div class="col-md-6 well">
          <h2>Archive</h2>
          <p><code>archive</code> container in <code>test</code>
            account.</p>

	  {% if archived_images %}
	  {% for archived_img in archived_images %}
	  <img src={{ archived_img }}
	       alt="Archived Cat" class="img-thumbnail
					 img-responsive">
	  {% endfor %}
	  {% else %}
	  <p>No object in container.</p>
	  {% endif %}

	</div>
      </div>

{% endblock content %}
